<ons-page class="main" id="main-page">
    <ons-toolbar id="main-toolbar">
        <div class="left">
            <ons-toolbar-button>
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center"></div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="fa-search"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-tabbar swipeable position="bottom">
        <ons-tab page="templates/train-route.html" icon="fa-subway" active></ons-tab>
        <ons-tab page="templates/bus-route.html" icon="fa-bus"></ons-tab>
    </ons-tabbar>
</ons-page>